@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
:root {

  --ff-primary: 'Barlow', sans-serif;
  --ff-secondary: 'Fraunces', monospace;

  font-size: 16px;

  --fw-reg: 600;
  --fw-bold: 700;
  --fw-bolder: 900;

  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-greyish-blue: hsl(213, 9%, 39%);
  --dark-greyish-blue: hsl(232, 10%, 55%);
  --greyish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

html{
  height: 100%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-size: 1rem;
}

h1,h2,h3,h4{
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bolder);
}

p{
  line-height: 1.5;
}

/* Header Styles */
header{
  background-image: url(images/desktop/image-header.jpg);
  /* background-size: cover; */
  background-repeat: no-repeat;
  /* width: 100%; */
  padding: 2rem 1.5rem;
  background-size: 100% 100%;
  padding-bottom: 15rem;
}

header nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header nav .links{
  list-style: none;
  display: flex;
}

header nav .links>*:not(:last-child){
  margin-right: 2rem;
}

header nav .links a{
  text-decoration: none;
  color: var(--white);
}

header nav .hamburger-icon{
  color: var(--white);
  display: none;
  cursor: pointer;
}

header nav .links .button{
  background-color: var(--white);
  color: var(--dark-desaturated-blue);
  font-family: var(--ff-secondary);
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-radius: 100px;
  transition: 0.5s;
}

header nav .links .button:hover{
  background-color: rgba(255,255,255, 0.4);
  color: var(--white);
}

header h1{
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 6rem;
  color: var(--white);
  letter-spacing: 0.2em;
}

header .arrow-down-icon{
  text-align: center;
  margin-top: 6rem;
}


/* section styles */
section h2{
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--dark-desaturated-blue);
}

.transform, .stand-out{
  display: flex;
  align-items: center;
}

.stand-out{
  flex-direction: row-reverse;
}

.transform .text, .stand-out .text{
  background-color: var(--white);
  padding: 0 5vw;
  width: 50vw;
}

.transform .text p, .stand-out .text p,
.transform .text a, .stand-out .text a{
  margin-top: 1.5rem;
}

.transform .text p, .stand-out .text p{
  color: var(--greyish-blue);
  line-height: 1.65;
}

.transform .text a, .stand-out .text a{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--dark-blue);
  font-family: var(--ff-secondary);
  transition: 0.5s;
  cursor: pointer;
}

.transform .text a{
  border-bottom: 4px solid var(--yellow);
}

.stand-out .text a{
  border-bottom: 4px solid var(--soft-red);
}

.transform .text a:hover{
  border-bottom: 4px solid rgba(250, 212, 0, 0.5);
}

.stand-out .text a:hover{
  border-bottom: 4px solid rgba(254, 120, 103, 0.5);
}

.transform .image img, .stand-out .image img{
  width: 50vw;
}

.more-features{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.more-features h3{
  font-size: 1.35rem;
}

.more-features .graphics, .more-features .photography{
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   background-size: 100% 100%;
   padding-top: 22rem;
   padding-bottom: 3.5rem;
}

.more-features .content{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.more-features .content p{
  margin-top: 1.1rem;
  line-height: 1.5;
}

.more-features .graphics{
  background-image: url(images/desktop/image-graphic-design.jpg);
  color: var(--dark-moderate-cyan);
}

.more-features .photography{
  background-image: url(images/desktop/image-photography.jpg);
  color: var(--dark-blue);
}

.testimonials{
  margin-top: 6rem;
}

.testimonials .title-header{
  text-transform: uppercase;
  letter-spacing: normal;
  color: var(--very-dark-greyish-blue);
  text-align: center;
  letter-spacing: 3px;
}

.testimonials .client-testimonials{
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: center;
  grid-gap: 0.7rem;
}

.testimonials .client-testimonials *{
  text-align: center;
}

.testimonials .title-header, .testimonials .client-testimonials h4{
  font-size: 1.115rem;
  font-weight: normal;
}

.testimonials .client-testimonials img{
  border-radius: 50%;
  transform: scale(0.5);
}

.review{
  font-size: 1.1rem;
  color: var(--very-dark-greyish-blue);
}

.testimonials .client-testimonials h4{
  margin-top: 2rem;
  color: var(--dark-desaturated-blue);
}

.testimonials .client-testimonials .title{
  color: var(--greyish-blue);
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.image-gallery{
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.image-gallery img{
  width: 100%;
}

footer{
  background-color: rgb(132, 194, 181);
  padding: 4rem 0;
  text-align: center;
}

footer a{
  text-decoration: none;
  color: var(--dark-desaturated-cyan);
  transition: 0.5s;
}

footer a:hover{
  color: var(--white);
}

footer .links{
  margin-top: 2rem;
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 2.5em;
  font-size: 1.1rem;
}

footer .social-icons{
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 3rem;
  font-size: 1.25rem;
}

footer .social-icons span{
  display: none;
}

@media (max-width: 768px){
  header nav .hamburger-icon{
    display: block;
  }

  header .nav .links{
    display: none;
  }

  header .nav.responsive .links{
    display: block;
    background-color: var(--white);
    position: fixed;
    width: 90vw;
    margin: 0 auto;
    margin-top: 15rem;
    text-align: center;
    line-height: 1;
    padding: 2rem 0;
  }

  header .nav.responsive .links a {
    color: var(--dark-greyish-blue);
  }

  header .nav.responsive .links .button{
    background-color: var(--yellow);
  }

  header nav .links>*:not(:last-child){
    margin-bottom: 1.5rem;
  }

  section h2{
    font-size: 2rem;
  }

  .stand-out, .transform{
    flex-direction: column-reverse;
  }

  .transform .text, .stand-out .text{
    text-align: center;
    padding: 4rem 0;
    width: 80vw;
  }

  .transform .image img, .stand-out .image img{
    width: 90vw;
  }

  .more-features{
    grid-template-columns: repeat(1, 1fr);
  }

  .more-features .content{
    width: 70%;
  }

  .testimonials .client-testimonials{
    grid-template-columns: repeat(1, 1fr);
  }
  .image-gallery{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 425px){  
  header{
    background-image: url(images/mobile/image-header.jpg);
    padding-bottom: 12rem;
  }

  header h1{
    font-size: 2.8rem;
  }

  header .arrow-down-icon{
    margin-top: 4rem;
  }
  .transform .text, .stand-out .text{
    width: 90vw;
  }
  .transform .image img, .stand-out .image img{
    width: 100vw;
  }
  .more-features h3{
    font-size: 1.7rem;
  }
  .more-features .content{
    width: 90%;
  }
  .testimonials .client-testimonials{
    width: 90%;
  }
  footer .logo img{
    transform: scale(1.5);
  }
}
@media (max-width: 375px){
  header h1{
    font-size: 2.2rem;
  }
}

/* header .down-arrow{
  text-align: center;
}

head .down-arrow i{
  height: 5rem;
} */

/* Mobile: 375px
Desktop: 1440px */

