@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
:root{
    --ff-primary: 'Alata', sans-serif;
    --ff-secondary: 'Josefin Sans', sans-serif;

    --white:  hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-grey: hsl(0, 0%, 55%);
    --very-dark-grey: hsl(0, 0%, 41%);

    font-size: 16px;
}

html{
    height: 100%;
}
  
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--ff-primary);
}

html{
    height: 100%;
}

h1, h2, h3{
    font-family: var(--ff-secondary);
    text-transform: uppercase;
}

a{
    text-decoration: none;
}

.container{
    width: 80%;
    margin: 0 auto;
}

ul{
    list-style: none;
}

span{
    display: none;
}


/* Header Styles */
header{
    background-image: url(images/desktop/image-hero.jpg);
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* width: 100%; */
    padding-top: 2.5rem;
    padding-bottom: 4rem;
    background-size: 100% 100%;
    /* padding-bottom: 15rem; */
  }

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .hamburger-icon{
    display: none;
}

.nav .links{
    display: flex;
    gap: 2rem;
}

.nav .links a{
    color: var(--white);
    display: inline-block;
}

.nav .links a::after {
    content: '';
    display: block;
    width: 0;
    margin: 0 auto;
    margin-top: 0.4rem;
    height: 2px;
    background: var(--black);
    transition: width .3s;
}

.nav .links a:hover::after {
    width: 50%;
}

.header__title{
    margin-top: 5rem;
    border: 2.5px solid var(--white);
    padding: 2rem;
    color: var(--white);
    /* min-width: 60%;
    max-width: 100%; */
    width: 60%;
}

.header__title h1{
    font-size: 4rem;
}

@media(max-width: 768px){

}

@media(max-width: 425px){

}