@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root{
    --ff-primary: 'Manrope', sans-serif;

    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--dark-blue);
    font-family: var(--ff-primary);
}

.advice-container{
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.container{
    background-color: var(--dark-grayish-blue);
    max-width: 550px;
    /* min-height: 400px; */
    border-radius: 15px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 2rem;
    padding-bottom: 4rem;
}

.advice-id{
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 4px;
    color: var(--neon-green);
}

.advice{
    font-size: 1.75rem;
    margin-top: 2rem;
    color: white;
    min-height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pattern-divider{
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-top: 2rem;
}

.dice-container-parent{
    display: flex;
    justify-content: center;
}

.dice-container{
    all: unset;
    display: flex;
    background-color: var(--neon-green);
    padding: 1rem 1rem;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    margin: 0 auto;
    margin-top: 2.2rem;
    transition: all 0.5s;
}

.dice-container:hover{
    box-shadow: 0 5px 30px rgba(82, 255, 168, .4);
}


/* Media Queries */
@media(max-width: 425px){
    .advice-container{
        display: block;
        margin-top: 10vh;
    }
    .advice{
        min-height: 250px;
        font-size: 1.5rem;
    }
}

@media(max-width: 320px){
    .advice{
        min-height: 270px;
    }
}