* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

nav, h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

header {
  padding: 55px 55px 0px 55px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-left: 35px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.row-1 {
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

.row-1 img {
  width: 100%;
}

.row-1 section h2 {
  font-size: 2.6rem;
  line-height: 1.5;
}

.row-1 section p {
  margin-top: 15px;
  font-size: 18px;
  line-height: 1.5;
}

.row-1 form {
  margin-top: 22px;
  display: flex;
  flex-direction: row;
}

.row-1 input, .row-1 button {
  border-radius: 5px;
}

.row-1 input {
  width: 50%;
  margin-right: 15px;
  padding: 13px 0 13px 13px;
  outline: none;
  border: 1px solid black;
}

.row-1 button {
  width: 30%;
  padding-left: 0px;
  padding-right: 0;
  border: none;
  background-color: hsl(224, 93%, 58%);
  color: white;
  outline: none;
  cursor: pointer;
}

.row-2 {
  margin-top: 100px;
  background: url("images/bg-curve-desktop.svg") no-repeat center center/cover;
  padding: 100px 55px 90px 55px;
  display: grid;
  grid-template-columns: 6fr 5fr;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

.row-2 img {
  width: 100%;
}

.row-2 section h2 {
  font-size: 2.5rem;
  line-height: 1.5;
}

.row-2 section p {
  margin-top: 15px;
  font-size: 16px;
  line-height: 1.5;
}

.row-2 .link {
  color: hsl(170, 45%, 43%);
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid hsl(170, 45%, 43%);
}

.row-2 .link img {
  width: inherit;
  margin: auto;
}

.row-2 section .card {
  margin-top: 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  padding: 20px 25px 20px 20px;
  width: 300px;
}

.card img {
  width: 15px;
  height: 15px;
}

.row-2 section .card p {
  font-size: 13px;
  line-height: 1.5;
}

.image-section {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.image-section img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.image-section .text p {
  margin-top: 0;
  margin-left: 10px;
}

.image-section .text .name {
  font-weight: bold;
  font-size: 12px;
}

.image-section .text .position {
  font-size: 11px;
}

.early-access {
  background-color: hsl(238, 22%, 44%);
  color: white;
  padding: 65px 80px 65px 55px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
  justify-content: center;
  align-items: center;
}

.early-access h3 {
  font-size: 2.3rem;
}

.early-access p {
  font-size: 16px;
  margin-top: 15px;
  line-height: 1.5;
}

.early-access form {
  display: flex;
  flex-direction: column;
}

.early-access input, .early-access button {
  border-radius: 5px;
}

.early-access input {
  width: 100%;
  padding: 13px 0 13px 13px;
  outline: none;
  border: 1px solid black;
}

.early-access button {
  width: 40%;
  padding: 13px 13px 13px 13px;
  border: none;
  background-color: hsl(224, 93%, 58%);
  color: white;
  outline: none;
  cursor: pointer;
  margin-top: 15px;
}

footer {
  background-color: hsl(243, 87%, 12%);
  padding: 65px 80px 65px 55px;
}

.footer-content {
  margin-top: 25px;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}

.contact-us .phone, .contact-us .email {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: flex-start;
  align-items: center;
}

.phone p, .email p {
  margin-left: 10px;
}

.footer-content .link ul {
  list-style: none;
}

.footer-content .link ul li {
  margin-bottom: 15px;
}

.footer-content .link ul li a {
  text-decoration: none;
  color: white;
}

.social {
  margin-top: 10px;
}

.social span {
  display: none;
}

.social a {
  padding: 8px;
  border-radius: 50%;
  border: 1px solid lightgray;
  margin-right: 20px;
  font-size: 14px;
}

.social a i {
  width: 18px;
  height: 18px;
  text-align: center;
  color: white;
}

/* Media Queries */

@media (max-width: 1000px) {
  .footer-content .link-1 {
    margin-left: 50px;
  }
}

@media (max-width: 860px) {
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  .footer-content .link-1 {
    margin-left: 0px;
  }
}

@media (max-width: 760px) {
  header {
    padding: 55px 40px 0px 40px;
  }
  .row-1, .row-2 {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .row-1 img, .row-2 img {
    order: 1;
  }
  .row-1 section, .row-2 section {
    order: 2;
  }
  .row-2 section h2, .row-2 section p {
    text-align: center;
  }
  .row-1 form {
    justify-content: center;
  }
  .row-2 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .row-2 section p {
    color: hsl(0, 0%, 75%);
  }
  .row-2 section .card {
    margin: auto;
    margin-top: 50px;
  }
  .row-2 section .card img {
    text-align: left;
  }
  .row-2 section .card p {
    text-align: left;
  }
  .image-section img {
    position: relative;
    left: 0;
  }
  .image-section .text {
    order: 2;
  }
  .early-access {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .row-2 section .card p {
    color: black;
  }
}

@media (max-width: 550px) {
  .logo {
    width: 120px;
  }
  nav ul li {
    margin-left: 25px;
  }
  .row-1 section h2 {
    font-size: 2rem;
  }
  .row-2 section h2 {
    font-size: 1.6rem;
  }
  .row-1 section p, .row-2 section p {
    font-size: 16px;
  }
  .early-access {
    text-align: center;
  }
  .early-access h3 {
    font-size: 1.8rem;
  }
  .footer-content {
    grid-template-columns: 1fr;
  }
  .social {
    margin: auto;
  }
}

@media (max-width: 450px) {
  .logo {
    width: 100px;
  }
  nav ul li {
    margin-left: 20px;
    font-size: 15px;
  }
}

@media (max-width: 375px) {
  header {
    padding-left: 30px;
    padding-right: 30px;
  }
  nav ul li {
    margin-left: 10px;
    font-size: 14px;
  }
  .row-1 section h2 {
    font-size: 1.5rem;
    line-height: 1.3;
    text-align: center;
    font-weight: bold;
  }
  .row-1 section p, .row-2 section p {
    font-size: 15px;
    text-align: center;
  }
  .row-1 form {
    flex-direction: column;
  }
  .row-1 input {
    width: 100%;
  }
  .row-1 button {
    padding: 13px 13px 13px 13px;
    margin-top: 15px;
    width: 100%;
  }
  .row-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .row-2 section h2 {
    font-size: 1.2rem;
  }
  .row-2 section p {
    color: hsl(0, 0%, 75%);
    text-align: center;
  }
  .row-2 section .left {
    text-align: left;
  }
  .early-access {
    padding-left: 30px;
    padding-right: 30px;
  }
  .early-access h3 {
    font-size: 1.4rem;
  }
  .early-access p {
    font-size: 15px;
  }
  .early-access form {
    justify-content: center;
    align-items: center;
  }
  .early-access input, .early-access button {
    width: 80%;
  }
  .footer-content {
    font-size: 15px;
  }
}